.weather-forecast {
  text-align: left;
}

.WeatherForecast-temperature-max {
  font-weight: bold;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
}

@media (max-width: 900) {
  /* mobile CSS: hide .desktop div */
  .WeatherForecast-weather-forecast {
    display: none;
  }
}
